.list {
    display: flex;
        flex-wrap: wrap;
    justify-content: center;
        padding: 0 40px;
     list-style: none; 
         row-gap: 40px;
                
}

.listItem{
    width: 300px;
}

.imgtItem {

height: 300px;
 object-fit: cover;
}

.title {
  color: #213547;  
  font-size: medium; 
}

.text {
     color: #213547;  
}

.textContainer {
        width: 300px;
        text-align: center;
}

.imgContainer {
    text-align: center;
}